
<div class="grid col-12">
    <div class="col-3 align-items-center justify-content-center">        
        <h1>Delta Trade</h1>
    </div>
    <div class="col-9 align-items-center justify-content-center align-items-stretch">
        <div class="grid col-12">
            <div class="col-12">
                <app-delta-menu 
                />
            </div>
            <div class="col-12">
                <app-search-bar 
                    class="min-w-full"
                />
            </div>
            
        </div>
        
        
    </div>
</div>

    <p-splitter
        [panelSizes]="[20,80]"
    >
        <ng-template pTemplate>
            <!-- <p-panel 
                header="Subsribed signals" 
            >
                <p>
                    Subscribed signals of user goes here...
                </p>
            </p-panel> -->
            <app-subscribed-signal-list />
            <!-- <div class="col flex align-items-center justify-content-center">
                side bar
            </div>-->
        </ng-template>
        <ng-template pTemplate class="w-full align-items-stretch">
            <app-analysis 
                class="w-full"
            />
            <ng-template pTemplate>
                <app-delta-menu></app-delta-menu>
            </ng-template>
            <ng-template pTemplate>
                <router-outlet></router-outlet>
            </ng-template>
        </ng-template>
    </p-splitter>
    <!-- <div class="col flex align-items-center justify-content-center">
        Panel 2
    </div> -->

<!-- Menu Nav -->
<!-- <p-menubar [model]="items">
</p-menubar> -->

<!-- Side Bar -->
 
<!-- <p-sidebar 
    [(visible)]="sidebarVisible" [position]="'left'" [showCloseIcon]="'true'" [dismissible]="'false'" [modal]="'false'"
    >
</p-sidebar> -->
